---
import DocContentBreadcrumbs from "./DocContentBreadcrumbs.vue";
import TableOfContents from "./TableOfContents.vue";
---

<div class="flex flex-col h-full">
  <DocContentBreadcrumbs />
  <div
    class="overflow-auto flex flex-1 flex-row max-w-[1200px] w-full self-center"
  >
    <div class="markdown-viewer h-full overflow-auto flex-1 p-20">
      <slot class="self-center" />
      <div class="mt-10 grid grid-cols-2 gap-10">
        <div
          class="border-1 flex justify-start p-4 rounded-xl border-gray-300/30 text-[20px]"
        >
          Conceptos
        </div>
        <div
          class="border-1 flex justify-end p-4 rounded-xl border-gray-300/30 text-[20px]"
        >
          Conceptos
        </div>
      </div>
    </div>
    <TableOfContents client:load class="w-60" />
  </div>
</div>

<style is:inline>
  .markdown-viewer {
    padding: 10px 30px;
    overflow: auto;
    line-height: 28px;
  }

  .markdown-viewer .mermaid {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .markdown-viewer a {
    color: var(--color-primary);
  }

  .markdown-viewer .astro-code {
    padding: 20px;
    /* border-radius: 10px; */
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .markdown-viewer code {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    padding: 0 4px;
    font-size: 90%;
  }

  /* Except when inside pre */
  .markdown-viewer pre code {
    background-color: unset;
    border-radius: unset;
    padding: unset;
  }

  .markdown-viewer .code-title {
    background-color: var(--color-primary);
    color: white;
    padding: 0 10px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: -20px;
  }

  .markdown-viewer .execute-curl {
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    font-size: 11px;
    cursor: pointer;
  }

  .markdown-viewer .btn-copy {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    font-size: 11px;
    cursor: pointer;
  }

  .markdown-viewer ul li {
    margin-left: 15px;
  }

  .markdown-viewer ul li:before {
    content: "•";
    color: #ccc;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  .markdown-viewer pre {
    line-height: 20px;
  }
  /* .markdown-viewer ul li p {
  display: inline-block;
} */
  .markdown-viewer p {
    display: inline-block;
  }

  .markdown-viewer > p,
  .markdown-viewer > ol,
  .markdown-viewer > ul {
    padding-left: 20px;
  }

  .markdown-viewer h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 43px;
    /* padding-bottom: 5px; */
  }

  .markdown-viewer h1:after {
    content: "";
    display: block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 30px;
  }

  .markdown-viewer h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 33px;
  }

  .markdown-viewer h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .markdown-viewer h4 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>
